<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

</head>
<body>
   <div class="app bg-gray-200">
    <nav class="p-6">
        <a>
            <span class="text-2xl py-4 px-4 m-4">Url Shortener</span>
        </a>
    </nav>
    <% if (locals.error) {%>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mx-20" role="alert">
            <strong class="font-bold">Page Not Found</strong>
            <span class="block sm:inline">The short url you entered does not exit , try creating a short url</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
              <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
          </div>
    <% } %>
    <div class="center">
        <div class="bg-white px-10 py-20 relative bg-white rounded-lg shadow w-full max-w-md">
            <form id="url_form" method="post" class="block ">
                <input id="link" type="url" class="bg-gray-50 border px-4 border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Enter Url" required>
                <button class="my-4 text-white bg-blue-700 text-sm px-5 py-2.5 text-cente" style="width:150px;">Shorten</button>
            </form>
            <span class="text-xl my-4">Shorten Url :</span> <span class="text-xl my-4" id="shorten_url"></span>
        </div>
    </div>
   </div>
<style>
    .block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .app {
        height: 100vh;
        width: 100vw;
    }
    .center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;
    }
</style>

<script type="text/javascript">
    $("#url_form").submit(function(event){
        event.preventDefault();
$.ajax({
  url: "/create",    // This is just an example domain
  method: "POST",
  data:{
    link:$("#link").val(),
  },
  success: function(response) {
    console.log(response.link);
    $("#shorten_url").text(response.link);
  }
});
    });
</script>

</body>
</html>